<!--The content below is only a placeholder and can be replaced.-->

<h2>Adriana Marcela Cortes Vela - 066161056</h2>

<br>
<div class="autocompete">
    <p>Componente autocompete</p>
  <form class = "tp-form">
    <mat-form-field class = "tp-full-width">
       <input type="text" placeholder="Search - Autocomplete" aria-label="Number" matInput [formControl]="myData" [matAutocomplete] = "auto">
       <mat-autocomplete #auto = "matAutocomplete">
          <mat-option *ngFor = "let data of datas" [value] = "data.name">
             {{data.name}}
          </mat-option>
       </mat-autocomplete>
    </mat-form-field>
  </form>
</div>


<br><br>
<hr>
<br>
Choose One:
<div class="namechooser">
    <p>Componente Form field</p>
  <mat-form-field>
    <mat-select>
      <mat-option *ngFor="let data of datas" [value]="data.name" placeholder="Choose a name">
        {{data.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<br><br><br><br>

<hr>
<div>
    <p>Componente slide toggle</p>
  <mat-slide-toggle [(ngModel)]="toggle1">Click to {{showornot}} Table</mat-slide-toggle>
</div>
<br><br>
<br><br>

<div  *ngIf="!toggle1">
    <p>Componente Table, Disable Select, Checkbox, Datepicker, radio-button </p>
  <table mat-table [dataSource]="datas" class="mat-elevation-z8">
    <ng-container matColumnDef="check">
      <th mat-header-cell *matHeaderCellDef> Check </th>
      <td mat-cell *matCellDef="let datas"><mat-checkbox [checked]="false" (change)="checkStatus($event)" (click)="getCal(datas.name)" [value]="datas.name"></mat-checkbox></td>
    </ng-container>

    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef> Select </th>
      <td mat-cell *matCellDef="let datas">
        <mat-radio-group  class="example-radio-group" [(ngModel)]="dataSelected">
          <mat-radio-button class="example-radio-button" [value]="datas.name"></mat-radio-button>
        </mat-radio-group>
      </td>
    </ng-container>

    

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name Drama</th>
      <td mat-cell *matCellDef="let datas"> {{datas.name}} </td>
    </ng-container>

    <ng-container matColumnDef="genero">
      <th mat-header-cell *matHeaderCellDef> Genero </th>
      <td mat-cell *matCellDef="let datas"> {{datas.genero}} </td>
    </ng-container>

    <ng-container matColumnDef="Calificacion1">
      <th mat-header-cell *matHeaderCellDef> Calificacion </th>
      <td mat-cell *matCellDef="let datas"> {{datas.Calificacion1}} </td>
    </ng-container>

    <ng-container matColumnDef="Fecha">
      <th mat-header-cell *matHeaderCellDef> Fecha de creacion </th>
      <td mat-cell *matCellDef="let datas"> {{datas.Fecha}} </td>
    </ng-container>

    <ng-container matColumnDef="Transactiondate">
      <th mat-header-cell *matHeaderCellDef> Fecha de  extreno</th>
      <td mat-cell *matCellDef="let datas"> 
        <mat-form-field>
          <input matInput [matDatepicker] = "picker" placeholder = "" [value]="datas.Transactiondate | date:'yyyy-MM-dd'">
          <mat-datepicker-toggle matSuffix [for] = "picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
      </mat-form-field> 
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumn;"></tr>

  </table>
  <br>
  <br>
  <div>You have selected: {{dataSelected}}</div>
  <div>You have checked: {{CalSelected}}</div>
</div>
<br>
<br>
<hr>
<br><br>
<p>Componente Slider</p>
<mat-slider [(ngModel)]="slider1" thumbLabel (change)="cambiar()" min="0" max="100" step="5"></mat-slider><br>
<div class="range">
    Calificacion Range: 0 - {{suma}}
</div>
<br>
<div>
    Names: 
    {{Datastrin}}
  </div>



